<div class="top-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="tn-left">
                    <li><i class="fa fa-phone"></i>+216 71 333 122</li>
                    <li><i class="fa fa-envelope"></i> hotel.eloumara@planet.tn</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="tn-right">
                    <div class="top-social">
                        <a href="https://www.facebook.com/HotelEloumara" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.tripadvisor.com/Hotel_Review-g293758-d664128-Reviews-Hotel_El_Oumara-Tunis_Tunis_Governorate.html" target="_blank"><i class="fab fa-tripadvisor"></i></a>
                        <a href="https://www.instagram.com/hotel_el_oumara/" target="_blank"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                    <a href="https://www.booking.com/hotel/tn/el-oumara.en-gb.html" class="bk-btn" target="_blank">Booking Now</a>
                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="menu-item">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a [routerLink]="['/Home']">
                        <img src="assets/image/hoteleloumara.jpg" alt="Hotel El Oumara">
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="nav-menu">
                    <nav class="mainmenu">
                        <ul>
                            <li class="active"><a [routerLink]="['/home']">Home</a></li>
                            <li><a [routerLink]="['/rooms']">Rooms</a></li>
                            <li><a [routerLink]="['/about']">About Us</a></li>
                            <li><a [routerLink]="['/contact']">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>